In [1]:
# Using previous SVU data, we have to predict what Category of people will be intrested in buying their new SUV
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
dataset = pd.read_csv("suv_data.csv")

In [3]:
dataset.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [4]:
# now we need to seperate dependent and independent variables
X = dataset.iloc[:,[2,3]].values # all rows and 2nd  and 3rd coloums
y = dataset.iloc[:,4].values

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [9]:
# standard scalling the values for better performance, part of preprocessing the data before using it in the model.
from sklearn.preprocessing import StandardScaler

In [12]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [15]:
y_pred = classifier.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score

In [20]:
accuracy_score(y_test, y_pred)*100

89.0